$bodyFontSize = 14px;
$bodyFontFamily = 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bodyBackgroundColor = #fff;
$bodyColor = #000;

// Foundational styles
$uibBlue = #3366cc;
$uibGreen = #8bbe44;
$uibGrey = #ccc;
$uibRed = #ff3300;
$uibOrange = #ff9a00;
$uibLightGreen = lighten($uibGreen, 90%);
$uibOpaqueGreen = alpha($uibGreen, 0.1); // Same as $uibLightGreen, but transparent. See the design guide.

// dgrid styles
$gridRowBackgroundColor = #fff;
$gridRowHoverBackgroundColor = $uibOpaqueGreen;
$gridRowColor = #666;
$gridIconColor = $uibGrey;
$gridRowHeight = 40px;

$headerAvatarSize = 32px;
$headerColor = #fff;
$headerHeight = 40px;
$headerNotificationDropDownWidth = 340px;
$headerSearchBorderColor = #eee;
$headerSearchHeight = $gridRowHeight - 10;

// Widget styles

$accountRowUsernameSize = 12px;

$alertBackgroundColor = #f39e1d;
$alertColor = #fff;
$alertIconColor = #f7bd7d;
$alertIconSize = 22px;
$alertWidth = 190px;

$attachmentsMaxImageHeight = 32px;
$attachmentsMaxImageWidth = $attachmentsMaxImageHeight;
$attachmentPreviewBackgroundColor = #eee;
$attachmentPreviewIconColor = #999;
$attachmentPreviewHeight = 120px;
$attachmentPreviewWidth = 160px;

$avatarSize = 26px;
$avatarConnectionSize = 12px;
$avatarConnectionFontSize = 8px;
$avatarConnectionOffset = -6px;
$avatarInitialsBackgroundColor = $uibGreen;
$avatarDefaultBackgroundColor = $uibBlue;
$avatarTextColor = #fff;
$avatarBorderSize = 1px;
$avatarBorderColor = #fff;
$selectedAvatarSize = 15px;
$selectedAvatarFontSize = 13px;
$selectedAvatarBorderWidth = 2px;
$selectedAvatarColor = #666;
$hoverAvatarColor = $uibGrey;

$buttonBackground = $uibBlue;
$buttonColor = #fff;

$dropDownBackgroundColor = #fff;
$dropDownBorderColor = #ddd;
$dropDownItemHoverBackgroundColor = #eee;
$dropDownItemPadding = 12px;
$dropDownItemTextColor = #333;
$dropDownItemIconSize = 18px;
$dropDownItemIconPadding = 10px;
$dropDownItemIconColor = #666;

$contactRowPadding = 10px 5px;
$contactRowIdentifierHMargin = 10px;
$contactRowIdentifierVMargin = -4px;
$contactRowIdentifierMaxWidth = 150px;
$contactRowIdentifierHeight = 26px;
$contactRowAvatarMarginLeft = 10px;
$contactRowHoverColor = $uibOpaqueGreen;
$connectionRowWidth = 50%;
$connectionListHeaderSize = 18px;
$connectionListHeaderColor = lighten($uibBlue, 30%);
$contactListColor = #fff;
$contactListBackgroundColor = #fff;
$contactListConnectionSize = 13px;
$contactListConnectionBorderSize = 1px;
$contactListConnectionBorderColor = #fff;
$contactListSearchWidth = 100%;
$contactListSearchHeight = 50px;
$contactListSearchFontSize = 19px;
$contactListSelectedBackground = $uibOpaqueGreen;

$conversationBackgroundColor = #fff;
$conversationActionColor = $uibBlue;

$folderPaneFooterHeight = 68px;

$folderListBorderColor = #eee;
$folderUnreadCountColor = #666;

$loginBackgroundColor = $bodyBackgroundColor;
$loginWidth = 350px;
$loginPadding = 15px 25px;
$loginLogoFontSize = 60px;
$loginTextInputBorderColor = #ddd;
$loginTextInputHeight = 40px;
$loginTextColor = #777;
$loginFontSize = 18px;
$loginPlaceholderColor = $uibGrey;
$loginButtonBackgroundColor = #244BC4;
$loginCheckboxSize = 12px;

$messageActionsColor = $uibGrey;
$messageActionsHoverColor = #999;
$messageActionsDropDownWidth = 170px;

$messageCompositionTitleColor = #fff;

$messageNotificationBackgroundColor = #eee;
$messageNotificationBorderColor = #fff;
$messageNotificationTextColor = #333;

$notificationMenuBorderColor = #eee;

$loadingBackgroundColor = $bodyBackgroundColor;
$loadingSpinnerSize = 32px;
$loadingWidth = 300px;

$quickReplyColor = #666;
$quickReplyActiveColor = #eee;

$quickReplyColor = #666;
$quickReplyActiveColor = #eee;

$recipientBorderColor = #eee;
$recipientPadding = 4px;
$recipientsInputWidth = 300px;

$searchBackgroundColor = #fff;
$searchBorderColor = $lightgrey;
// TODO: This is actually the color supplied by dgrid. I don't see anything specified
// in the design guide, so this may need to be updated once we have more information.
$searchTextColor = #aaa;

$tooltipBackgroundColor = $bodyBackgroundColor;
$tooltipColor = $bodyColor;

$messageRowColor = #333;
$messageRowBorderColor = #eee;
$messageRowStarColor = $uibGrey;
$messageRowHoverStarColor = #666;
$messageRowActiveStarColor = $uibOrange;
$messageRowColumnRightMargin = 10px;

$conversationRowColor = #333;
$conversationRowBorderColor = #eee;
$conversationRowColumnRightMargin = 5px;
$conversationRowParticipantWidth = 700px;
$conversationRowAvatarTop = 5px;
$conversationRowParticipantsMarginLeft = 34px;
