html-report
node_modules
src/d*
src/esprima
src/intl*
src/m*
src/put-selector
src/xstyle
main.css
*.js
*.js.map
!src/strophe/*
!Gruntfile.js
!typings/messageformat.js
!src/app/tests/mocks/data/getAllMessages.js
.DS_Store
*.sublime-*
